<section>
    <div class="container">
  <div class="text-center p-4">
    <h1>about component</h1>
<div class="head-line">
  <i class="fa-solid fa-star"></i>
</div>

  <div class="info d-flex flex-row justify-content-between">
    <span>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</span>
    <span>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</span>
  </div>
</div>
</div>

</section>


