<section>
    <div class="container text-center">
        <h1>portfolio component</h1>
        <div class="head-line">
            <i class="fa-solid fa-star"></i>
          </div>
        <div class="row g-2">
            <div class="port col-md-4 col-sm-1 "><img src="poert1.png" class="w-100 rounded-2" alt=""></div>
            <div class="port col-md-4 col-sm-1"><img src="port2.png" class="w-100 rounded-2" alt=""></div>
            <div class="port col-md-4 col-sm-1"><img src="port3.png" class="w-100 rounded-2" alt=""></div>
            <div class="port col-md-4 col-sm-1"><img src="poert1.png" class="w-100 rounded-2" alt=""></div>
            <div class="port col-md-4 col-sm-1"><img src="port2.png" class="w-100 rounded-2" alt=""></div>
            <div class="port col-md-4 col-sm-1"><img src="port3.png" class="w-100 rounded-2" alt=""></div>
        </div>
    </div>
</section>